<footer class="footer">
  <div class="footer-content">
    <% if(config.footer){ %>
    <div class="copyright">
      ©<%- config.footer.since %> - <%- new Date().getFullYear() %> By <%-
      config.author %>
    </div>
    <% } %>
    <div class="framework-info">
      <span>驱动 - </span><a href="http://hexo.io"><span>Hexo</span></a
      ><span class="footer-separator">&nbsp;|&nbsp;</span><span>主题 - </span
      ><a href="https://github.com/deaningo/press"
        ><span>Press</span></a
      >
    </div>
    <% if(config.footer && config.footer.ICP && config.footer.ICP.text){ %>
    <div class="footer_icp">
      <a href="<%- config.footer.ICP.url %>" target="_blank"
        ><%- config.footer.ICP.text %></a
      >
    </div>
    <% } %>
  </div>
</footer>
<%- partial('_widget/gotop') %>
<%- partial('_widget/comment')  %>

<script>
	console.log('\n %c Hexo-Press 主题 %c https://github.com/deaningo/press \n', 'color: #fadfa3; background: #030307; padding:5px 0;', 'background: #fadfa3; padding:5px 0;')
</script>